 body {
  margin: 0;
  font-size: medium;
  background-color: whitesmoke;
  font-family: "Roboto Mono", monospace;
} 

html, body {
  width: auto!important; 
  overflow-x: hidden!important;
  background-color: whitesmoke;
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: black;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
}

.fa-caret-down::before {
  padding-left: 8px;
}

.fa-caret-down::after {
  padding-left: 8px;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(203, 15, 15);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(203, 15, 15);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.header_title {
  padding: 20px;
}

.about-title {
  font-size: 1.6em;
}

.reviewed_pics {
  padding: 20px;
}

.reviewed_pics_div {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.book_details {
  padding: 0px 15px;
}

.books_reviewed {
  padding: 40px;
  font-weight: lighter;
}

.books_reviewed p {
  text-align: justify;
}

.book_description p {
  text-align: justify;
}

.book_description {
  padding: 20px ;
  line-height: 150%;
}

#quote-color {
  color: rgb(203, 15, 15);
}

.reader_reviews {
  padding: 10px;
  line-height: 150%;
}

.reader_reviews p {
  text-align: justify;
}

.band {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-column: 1fr;
  grid-template-rows: auto;
  padding-top: 60px;  
} 

.books-box {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-box {
    padding: 8px;  
    text-align: center;
  }

.about-text {
  text-align: center;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.title {
  color: rgb(203, 15, 15);
}

figure{
  border-radius: 50%;
  overflow:hidden; 
}

.d-figure {
  border-radius:0!important;
}

.d-figure > .d-img{
  border-radius:50%;
 }

footer {
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}

.container {
  padding: 30px;
}

#contactForm {
  width: 40%;

}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5%;
  }
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .subnav .subnavbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  #contactForm {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .subnav {float: none;}
  .navbar.responsive .subnav-content {position: relative;}
  .navbar.responsive .subnav .subnavbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
    .band {
  width: 100%;
  }
}